@media screen and (min-width:800px){
 .main{
    background-color: #252525;
    padding-top: 3vw;
 }
.about{
    color: #ffffff;
}
.alfaaz{
    color: #ff0000;
}
.heading{
  
    display: flex;
    gap: 1vw;
    flex-direction: row;
    justify-content: center;
}
.about,.alfaaz{
    font-size: 4rem;

}
.about-alfaaz{
    color: #ffffff;
    text-align: justify;
    font-size: 1.5rem;
  
}
.main-content{
    margin: 9vh 16vw 0 16vw;;
}
.about-juit {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25vw;
   padding-bottom: 2vh;
    border-radius: 10%;
}
/* On mouse-over, add a deeper shadow */
.about-juit:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
.about-juit-container {
    padding: 2px 16px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.bottom-about-juit{
    font-size: 2.5rem;
    color: #ffffff;
    
}
.bottom-juit{
    font-size: 2.5rem;
    color: #ff0000;
    
}
.about-juit-heading-container{
    display:flex;
    gap: 1vw;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2vh;
    margin-top: 1.5vh;
}
.about-juit-content{
    color: #ffffff;
    text-align: justify;
    margin: 5vh 2vw 0 2vw;
    font-family: 'Alata', sans-serif;
}
.about-jyc {
    /* Add shadows to create the "card" effect */
    background: linear-gradient(#2D2C2C,);
    transition: 0.3s;
    width: 25vw;
    height: 40vh;
    border-radius: 10%;
}
  /* On mouse-over, add a deeper shadow */
.about-jyc:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
.about-jyc-container {
    padding: 2px 16px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.bottom-about-jyc{
    font-size: 2.5rem;
    color: #ffffff;
    
}
.bottom-jyc{
    font-size: 2.5rem;
    color: #ff0000;
    
}
.about-jyc-heading-container{
    display:flex;
    gap: 1vw;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2vh;
    margin-top: 1.5vh;
}
.about-jyc-content{
    color: #ffffff;
    text-align: justify;
    margin: 5vh 2vw 0 2vw;
    font-family: 'Alata', sans-serif;
}
.about-bottom-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 10vh;
}
}
@media screen and (max-width:800px){
        .main{
            background-color: #252525;
        }
        .about{
            color: #ffffff;
        }
        .alfaaz{
            color: #ff0000;
        }
        .heading{
            margin-top: 1.5vh;
            display: flex;
            gap: 1vw;
            flex-direction: row;
            justify-content: center;
        }
        .about,.alfaaz{
            font-size: 1.2rem;
            
        }
        .about-alfaaz{
            color: #ffffff;
            text-align: justify;
            font-size: .7rem;
            font-family: 'Alata', sans-serif;
        }
        .main-content{
            margin: 9vh 16vw 0 16vw;;
        }
        .about-juit {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40vw;
            height: 28vh;
            border-radius: 10%;  
        }
        .about-juit:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        } 
        /* Add some padding inside the card container */
        .about-juit-container {
            justify-content: space-around;
        }
        .bottom-about-juit{
            font-size: .9rem;
            color: #ffffff;
            
        }
        .bottom-juit{
            font-size: .9rem;
            color: #ff0000;
            
        }
        .about-juit-heading-container{
            display:flex;
            gap: 1vw;
            justify-content: center;
            flex-direction: row;
            margin-bottom: 2vh;
            margin-top: 1.5vh;
        }     
        .about-juit-content{
            color: #ffffff;
            text-align: justify;
            margin: 5vh 2vw 0 2vw;
            font-family: 'Alata', sans-serif;
            font-size: .5rem;
        }     
        .about-jyc {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40vw;
            height: 28vh;
            border-radius: 10%;    
        } 
        /* On mouse-over, add a deeper shadow */
        .about-jyc:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        } 
        /* Add some padding inside the card container */
        .about-jyc-container {
            justify-content: space-around;
        }
        .bottom-about-jyc{
            font-size: .9rem;
            color: #ffffff;
            
        }
        .bottom-jyc{
            font-size: .9rem;
            color: #ff0000;
            
        }   
        .about-jyc-heading-container{
            display:flex;
            gap: 1vw;
            justify-content: center;
            flex-direction: row;
            margin-bottom: 2vh;
            margin-top: 1.5vh;
        } 
        .about-jyc-content{
            color: #ffffff;
            text-align: justify;
            margin: 5vh 2vw 0 2vw;
            font-family: 'Alata', sans-serif;
            font-size: .5rem;
        }   
        .about-bottom-container{
            padding-left: 25vw;
            justify-content: center;
            display: flex;
            flex-direction: column;
            gap: 5vh;
            margin-top: 5vh;
        }
}